[submodule "src/tamer"]
	path = ./src/tamer
	url = https://github.com/lvxin1024/RoboTamer.git
[submodule "src/unitree_actuator_sdk"]
	path = src/unitree_actuator_sdk
	url = https://github.com/lvxin1024/unitree_actuator_sdk.git
[submodule "src/unitree_sdk2"]
	path = src/unitree_sdk2
	url = https://github.com/lvxin1024/unitree_sdk2.git
